    <bean id="$Bean.id" class="$Bean.className">
        #foreach ($Property in $Bean.properties)
    		<property name="$Property.name" value="$Property.value"/>  
   		 #end		 
        <property name="components">
            <list>
				#foreach ($Comp in $Bean.components)
    				<ref="$Comp.value"/>  
   		    	#end
            </list>
        </property >
    </bean>
    

