<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
    <bean id="PipeLineService" class="com.bdc.bdi.storm.integrator.test.PipeLineService">
        <property name="name" value="PipeLineService"/>
        <property name="pipeLines">
            <list>
                <ref bean="$Pipeline.id" />
            </list>
        </property>
    </bean>

    <bean id="$Pipeline.id" class="$Pipeline.className">
        <property name="name" value="$Pipeline.name"/>
        <property name="startComponent" ref="$Pipeline.startComponent"/>
    </bean>
    
#foreach ($Bean in $Beans)
    <bean id="$Bean.id" class="$Bean.className">
#foreach ($Property in $Bean.properties)
        <property name="$Property.name" value="$Property.value"/>  
#end
#if ( $!{$Bean.components} )            
        <property name="components">
            <list>
#foreach ($Comp in $Bean.components)
                <ref="$Comp.value"/>
#end
            </list>
        </property >
#end
    </bean>

#end 
</beans>
